* {
	padding: 0px;
}

input {
	width: 100%;
}

#para1 {
	height: 100px;
	width: 100px;
}

#button1 {
	height: 100px;
	width: 100px;
}

#p-1 {
	height: 100px;
	width: 100px;
}
.spinner-border {
	margin-top: 100px;
}

.hide {
	display: none;
}

.card {
  	border: none;	
  }

/*@media (min-width: 560px) {
  .card {
  	width: 400px;	
  }
}

@media (min-width: 985px) {
  .card {
  	align-self: center;
  }
}

@media (min-width: 558px) {
  .card {
  	align-self: center;
  }
}*/


